<h1>Search for a Movie</h1>

<form role ="search" action="/results" method="GET">
    <input type="search" placeholder="Movie Title" required="required" name="search">
    <input type="submit">
</form>