<% include partials/header%>
<h1>You Searched for <%= searchQuery.toUpperCase() %></h1>
<% data['Search'].forEach((movie) => { %>
    <li><%= movie['Title'] %></li>
<% }); %>
<a href="/">Back to Search</a>
<% include partials/footer %>